Importing the Packages

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

Data Processing and Cleaning

In [9]:
# Loading the data set 
data = pd.read_csv('heart_disease_data.csv')

In [10]:
# Checking the no of rows and columns
data.shape

(303, 14)

In [11]:
# checking the informations of the table.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [12]:
#checking for missing values
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [13]:
# statistical methods of the data.
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [14]:
# checking the disctribution for defective heart
# 0 --> Defective Heart
# 1 --> Healthy Heart
data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

Spliting the Features and Target

In [15]:
X = data.drop(columns = 'target' , axis = 1)
Y = data['target']

In [16]:
X_train , X_test , Y_train, Y_test = train_test_split(X, Y, test_size = 0.2 , stratify = Y , random_state = 2)

Model Train - Logistic Regression

In [17]:
model = LogisticRegression()

In [18]:
#training the logistic regression model with training data
model.fit(X_train,Y_train)

C:\Users\Ankith R\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evalutation

Accuracy Score

In [19]:
# Accuracy score on training data
X_train_predection = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_predection , Y_train)

In [20]:
training_data_accuracy

0.8512396694214877

In [21]:
# Accuracy score on test data
X_test_predection = model.predict(X_test)
testing_data_accuracy = accuracy_score(X_test_predection , Y_test)

In [22]:
testing_data_accuracy

0.819672131147541

Confusion Matrix

In [25]:
pd.DataFrame(confusion_matrix(Y_test , X_test_predection), columns = ['Predicted No' , 'Predicted Yes'], index = ['Actual No' , 'Actual Yes'])

            Predicted No  Predicted Yes
Actual No             23              5
Actual Yes             6             27

Classification Report

In [29]:
print(classification_report(Y_test , X_test_predection))

              precision    recall  f1-score   support

           0       0.79      0.82      0.81        28
           1       0.84      0.82      0.83        33

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

Building a predective system

In [52]:
input_data =(41,0,1,130,204,0,0,172,0,1.4,2,0,2) 

#chaning the input into numpy array
input_data_as_numpy_array = np.asarray(input_data)

#reshaping the numpy array as we are predicting for only one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

predection = model.predict(input_data_reshaped)
print(predection)

if (predection[0] == 0):
    print("The person does not have a heart disease ")
else:
    print("The person has Heart Disease")

[1]
The person has Heart Disease

C:\Users\Ankith R\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(